.timeline-wrapper {
    margin-top: 1rem;
    margin-left: -42rem;
  }
  
  .timeline-item-wrapper {
    display: flex;
    align-items: flex-start;
  }
  
  .timeline-item-img {
    margin-right: 8px;
  }
  